<!doctype html>
<html lang ='en'>
  <head>
    <meta charset = 'utf-8'>
    <!-- the below line is what links the background colour(the style.css file) together  -->
     <link rel = 'stylesheet' href = '/style.css'>    
    <title>Cyrus eventually got to this point!!!</title>
  </head>
      <body>
        <nav>
          <ul>
            <li><a href = "/">This does absolutely nothing of any relevance right now!</a></li>
            <li><a href = "/about_me">Click here for the link to break!</a></li>
          </ul>
        </nav>
        <%= yield %>
      </body>
</html>